@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@541&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

button{
    top: 187%;
    left: 100%;
    transform: translate(187%,200%);
    background-color: yellow;
    padding: 9px;
    width: 20%;
    height: 90px;
    border: none;
    border-radius: 20px;
    font-size: 30px;
}

@media screen and (max-width: 625px) {
    .login-box{
        width: 5%;
        background-color: white;
    }
}